* {
    box-sizing: border-box;

}
/* DAMOS FORMATO A TODOS LOS TEXTOS  */
title {font-size: 3.5em;}
h1 {font-size: 3.3em;}
h1 {font-family: 'Times New Roman', Times, serif;}
h2 {font-size: 2.8em;}
h3 {font-size: 2.5em;}
p {font-size: 1.20em;}
p.logo {font-size: 3em;}
p.logo {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* APLICAMOS ESTE FORMATO A TODA LA PAGINA, POR ESO ESTA LA ETIQUETA BODY {} */
body {
    font-family: 'Calibri', 'sans-serif';
    background-color: white;

    margin: 0%;
}
/* CON ESTO DAMOS FORMATO AL BOTON, TAMANO, ANCHO, COLOR, COLOR DE FONDO */
button {

    font-size:  2em;
    font-weight: bold;
    padding:  50 px 90 px;
    border-radius: 10 px;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    color: black;
    background-color: rgb(103, 175, 103);
    margin: 2%;
    align-items: center center;
    text-align: center center;
    position: center;
    width: 100%;
    height: 3em;
    
}

/* PARA QUE AL PASAR EL MOUSE EL BOTON SE HUNDA */
button:hover {
    background-color: rgb(61, 129, 61);
}
/* APLICAMOS MARGENES A TODOS LOS BLOQUES CON LA ETIQUETA DE CONTAINER = DIV CLASS "CONTAINER"  NO APLICA PARA EL TITULO DEBIDO A QUE
ESE CONTAINER LO TENEMOS DENTRO DE UN HEADER*/
.container{

    max-width: 800px;
    margin: auto;
    background-color: rgb(202, 202, 243);
}
/* formato al otro parrafo designado con el nombre de contenido */
.contenido {

    max-width: 800px;
    margin: auto;
    background-color: rgb(162, 216, 146);
}
/* foramto a los otros parrafos cuyo nombre son inicial */
.primero {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(223, 235, 238);
    background-image:  center, center    ;
    margin: auto;
    align-items: center;
    display: flex;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    margin-block-end: 30px;
    margin-top: 30px;

    }

.segundo {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    background-color: rgb(217, 210, 235);
    margin-block-end: 30px;
    margin-top: 30px;
      }
    



/* AHORA DAMOS FORMATO AL TITULO (HEADER) Y CON LAS COSA QUE ESTAN DENTRO DEL HEADER, HEADER. LOGO, HEADER. CONTAINER*/

header{
    background-color: rgb(243, 246, 247);
    margin: 2em;
    
}
/* TRABAJAMOS SOBRE EL HEADER DE LA CLASS LOGO QUE PUSIMOS */
header .logo{
    margin: 0;
    padding: 10px 8px;

}
/* AQUI SI TRABAJAMOS SOBRE EL CONTAINER QUE ESTA DENTRO DEL HEADER */
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* trabajamos con los nav, los elementos de mision vision y redes sociales */
header nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

header a{
    padding: 2px 60px;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(125, 208, 224);
    margin: 0.15%;
    box-shadow: 2px 2px 10px rgb(0,0,0,1);
    font-weight: bold;
    color: black;
}

/* PARA QUE AL PASAR EL PUNTERO EL HEADER CAMBIE DE COLOR */
header a:hover {
    background-color: rgb(226, 242, 245);
    color: black;
}

/* TRABAJANDO CON LA SECCION CON ID LLAMADA:PANEL (DONDE VA EL LEMA) */
#panel1 {
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* vh es altura negativa, esto quiere decir que va a ocupar el 90% de la pantalla del dispositivo */
    height: 70vh; 
    /* COLOR DE LAS LETRAS */
    color: white;
    font-family: 'Times New Roman', Times, serif;
    /* LINEAR GRADIENT PARA QUE APLIQUE UN FILTRO DEL COLOR K ESCOGEMOS EN ESTE CASO EL NEGRO  */
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.60),
        rgba(0,0,0,0.60)
    )
    /* NO OLVIDAR COLOCAR LA , ANTES DEL URL PARA QUE SI SIRVA */
    ,url("FONDO1.jpg");

    /* REPEAT PARA K LA IMAGEN NO SE REPITA HACIENDOSE UN MOSAICO */
    background-repeat: no-repeat;
    /* EN COVER PARA QUE OCUPE TODO EL ESPACIO DISPONIBLE */
    background-size: cover cover;

    background-position: center,center;
} 
#memento {
    font-style: italic;
}

#parrafoprecaucion {

    margin: 2%;
}